*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-size: 0.875rem;
}

h2{
  font-size: 72px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title{
  text-align: center;
  margin-bottom: 1rem;
}


.price {
  color:indigo;
}

.photo{
  height: 250px;
}